<div class="backdrop" (click) = "onClose()"></div>
<dialog open>
<h2>Add or Update</h2>
<form (ngSubmit)="onSubmit()">
  <div class="addItemForm">
  <p>
    <label for="Name">User Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="name"/>
  </p>
  <p>
    <label for="description">Description</label>
    <textarea  type= "text" id="description" name="description" [(ngModel)]="description" > </textarea>
  </p>

  <p>
    <label for="price">Price</label>
    <input type="text" id="price" name="price" [(ngModel)]="price"/>
  </p>
  <p>
    <label for="image">Image</label>
    <input type="file" id="image" name="image" (change)="imageUpload($event)" />
  </p>
  <p class="actions">
    <button type="button" (click)="onClose()">Cancel</button>
    <button type="submit">Create</button> 
  </p>
</div>
</form>
</dialog>
